@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,500,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

button, input {
	border: 0;
	outline: 0;
	background: transparent;
}

a {
  color: #002e43;
	text-decoration: none;
}
button, a {
	cursor: pointer;
}

/**** Main CSS *******/

body {
  background: snow;
  color: black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem; 
}

/* Styles for search-bar & dropdown */

.isHeader {
  max-width: 840px;
  width: 100%;
  margin: 4rem auto;
  color: black;
  display:flex;
  justify-content: space-between;

}

.isHeader > label {
  margin-left: 0;
}
h2{
  margin: 2rem auto;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: underline
}

.search-bar{
  flex-grow: 1;
  padding-left: 40px;
}
.fas {
  position: relative;
  color: lightgray;
  left: 30px;
  font-size: 14px;
  margin-right: 3px;
}
select {
  height: 35px;
  margin: 0.25rem;
  background: snow;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

input {
  width: 30rem;
  height: 37px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 0.4rem;
  padding-left: 1.75rem;
}
input:focus {
  border: 1px dotted blue
}
.select {
  cursor: pointer;
} 
.search-msg{
  font-size: 12px;
  padding-left: 1.5rem;
}
.is-fav-btn {
  background: black;
  font-family:'Roboto', sans-serif;
  color: snow;
  padding: 0.20rem 1rem;
  height: 2.35rem;
  border-radius: 4px;
}

/* CUSTOM for Table */

table {
  width: 860px;
  margin: 0 auto;
  table-layout: fixed;
  text-align: justify;
}

thead{
  padding: 0.5rem;
}

.table-head {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}


td, th {
  border: 1px solid rgb(161, 161, 248);
  text-align: left;
  padding: 0.5rem;
  overflow: hidden;
}

.table-data {
  font-size: 0.8rem;
}

.isFavFlag {
  text-align: center;
  font-size: 2.5rem;
  color:black;
}
.isMarked {
  color: black;
}

.pagination {
  width: 840px;
  padding:  1rem 0;
  margin: 0 auto;
  /* text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1); */
}
.pagination > button {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 2px;
  font-weight: 700;

}

.activePageBtn {
  background: #1C3144;
  border: 1px solid #1C3149;
  color: snow;
  margin: 3px;
  padding: 1px 5px;
}
.page-btn {
  border: 1px solid #1C3149;
  color: #1C3144;
}

.displayMsg {
  text-align: center;
}


